enter candidate

# Enabling OSPF for 192.168.8.1/24
set / network-instance default protocols ospf
set / network-instance default protocols ospf instance default
set / network-instance default protocols ospf instance default admin-state enable
set / network-instance default protocols ospf instance default version ospf-v2
set / network-instance default protocols ospf instance default router-id 10.10.10.9
set / network-instance default protocols ospf instance default area 0.0.0.0
set / network-instance default protocols ospf instance default area 0.0.0.0 admin-state enable
set / network-instance default protocols ospf instance default area 0.0.0.0 interface ethernet-1/1.8
set / network-instance default protocols ospf instance default area 0.0.0.0 interface ethernet-1/1.8 interface-type point-to-point

# Enabling OSPF for 192.168.9.1/24
set / network-instance default protocols ospf instance default area 0.0.0.0 interface ethernet-1/2.9
set / network-instance default protocols ospf instance default area 0.0.0.0 interface ethernet-1/2.9 admin-state enable
set / network-instance default protocols ospf instance default area 0.0.0.0 interface ethernet-1/2.9 interface-type point-to-point

# To clear OSPF neighbor
tools network-instance default protocols ospf instance default neighbors neighbor 192.168.8.1 


system dns network-instance mgmt server-list [ 1.1.1.1 ]

commit save